<div class="banner">
	<div class="row">
		<h2>Messages</h2>
		<table class='table'>
			<thead>
				<th></th>
				<th width="10%">Date</th>
				<th width="10%">Name</th>
				<th width="10%">Email</th>
				<th width="10%">Type</th>
				<th width="50%">Message</th>
				<th>Delete?</th>
				<th></th>
			</thead>
			<tbody>
				<% messages.forEach(function(message) { %>
					<tr>
						<td></td>
						<td><%= message.createdAt.substring(0,10) %></td>
						<td><%= message.first_name %> <%= message.last_name %></td>
						<td><%= message.email %></td>
						<td><%= message.type %></td>
						<td><%= message.message %></td>
						<td><a href="message/destroy/<%=message.id%>" class="button tiny alert"/>Delete</a></td>
						<td></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</div>
</div>