<div class="header-auto">
  <div class="row">
    <h2>Blog</h2>
    <p>Currently under development</p>
  </div>
</div>
<div class="banner">
  <div class="row">
    <div class="large-9 columns">
      <% blogs.forEach(function(blog) { %>
        <h4 class="section"><%= blog.title %></h4>
        <br>
        <font class="sub"><%= blog.createdAt %></font>
        <br>
        <font class="sub">Category: <%= blog.category %></font>
        <br><br>
        <div class="description"><%- blog.body %></div>
        <font class="sub">Tags: <%= blog.tags %></font>
        <br><br>
      <% }); %>
    </div>

    <div class="large-3 columns">
      <div class="box">
        <h4>Archive</h4>
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
  </div>
</div>