<div class="header-auto">
	<div class="row">
		<h2 id="current" data-magellan-destination="current">Projects</h2>
        <div data-magellan-expedition="fixed">
          <dl class="sub-nav">
            <dd class="fixed-mag" data-magellan-arrival="current"><a href="#current"><strong>Recent Projects:</strong></a></dd>
            <% projects.forEach(function(project) { %>
              <% if (project.end_date == 'Present') { %>
              <dd data-magellan-arrival="<%= project.id %>"><a href="#<%= project.id %>"><%= project.name %></a></dd>
              <% } %>
            <% }); %>
          </dl>
        </div>
	</div>
</div>
<div class="banner">
	<div class="row">
		<% projects.forEach(function(project) { %>
			<h4 class="section" id="<%= project.id %>" data-magellan-destination="<%= project.id %>"><%= project.name %></h4>
			<br>
			<font class="sub"><%= project.start_date %> - <%= project.end_date %></font>
			<br>
			<font class="sub">Technology Stack: <%= project.technology %></font>
			<div class="description semi-transparent"><%- project.description %></div>
			<br><br>
		<% }); %>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
	</div>
</div>